<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Customer</title>
    
    
    <div class="header"> 
        <h1>Add New Customer</h1>
        <Button  onclick="homepage()">Home</Button>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='addcustomer.css') }}">
</head>

<body>
    <form id="myForm" action="{{ url_for('add_customer') }}" method="post">
        <div class="form-group">
            <label for="name">Name: <sup>**</sup></label>
            <input type="text" id="name" name="name" required><br>
        </div>

        <div class="form-group">
            <label for="email">Email: <sup>**</sup></label>
            <input type="email" id="email" name="email" ><br>
        </div>

        <div class="form-group">
            <label for="phone">Phone: <sup>**</sup></label>
            <input type="text" id="phone" name="phone" required><br>
        </div>

        <div class="form-group">
            <label for="CarMake"> Car Make : <sup>**</sup></label>
            <input type="text" id="CarMake" name="CarMake" required><br>
        </div>

        <div class="form-group">
            <label for="CarModel"> Car Model : <sup>**</sup></label>
            <input type="text" id="CarModel" name="CarModel" required><br>
        </div>

        <div class="form-group">
            <label for="CarColor"> Car Color : <sup>**</sup></label>
            <input type="text" id="CarColor" name="CarColor" required><br>
        </div>

        <div class="form-group">
            <label for="Caryear"> Year of Car : <sup>**</sup></label>
            <input type="text" id="Caryear" name="Caryear" required><br>
        </div>

        <div class="form-group">
            <label for="Vin">VIN #  <sup>**</sup></label>
            <input type="text" id="Vin" name="Vin" required><br>
        </div>

        <div class="form-group">
            <label for="Odometer">Odometer / Mileage :</label>
            <input type="number" id="Odometer" name="Odometer" ><br>
        </div>
        <div class="form-group">
            <label for="Technician"> Mention all Technician working  : <sup>**</sup></label>
            <input type="text" id="Technician" name="Technician" ><br>
        </div>
        
<br>
        <p><strong>Note :</strong> Must Select only One Mode of Payment.</p>
        <div class="form-group">
        <label for="card">Credit / Debit Card Payment</label>
        <input type="checkbox" id="payment_method" name="card"  onclick="onlyOne(this)">
        </div>
        <div class="form-group">
            <label for="cash">Cash Payment</label>
            <input type="checkbox" id="payment_method" name="cash" onclick="onlyOne(this)">
        </div>
        <div class="form-group">
            <label for="etransfer">e-transfer Payment</label>
            <input type="checkbox" id="payment_method" name="etransfer" onclick="onlyOne(this)">
        </div>

<br>

        <div class="form-group">
            <label for="Job">Job Details : <sup>**</sup></label>
            <input type="text" id="Job" name="Job" required><br>
        </div>
        <div class="form-group">
            <label for="Price"> Unit Price ( With out GST / HST ): <sup>**</sup></label>
            <input type="Number" id="Price" name="Price" required><br>
            <a href="#" id="toggleContentLink">Add Another Job</a>
            <br>
        </div>


        <div id="additionalContent" class="hidden">
            <div class="form-group">
                <label for="Job1">Job Details 2:</label>
                <input type="text" id="Job1" name="Job1" ><br>
            </div>
            <div class="form-group">
                <label for="Price1"> Unit Price :</label>
                <input type="Number" id="Price1" name="Price1"><br>
                <a href="#" id="toggleContentLink2">Add Another Job</a>
                <br>
            </div>

        </div>

        <div id="additionalContent2" class="hidden">
            <div class="form-group">
                <label for="Job2">Job Details 3:</label>
                <input type="text" id="Job2" name="Job2"><br>
            </div>

            <div class="form-group">
                <label for="Price2"> Unit Price :</label>
                <input type="Number" id="Price2" name="Price2">
                <a href="#" id="toggleContentLink3">Add Another Job</a>
                <br>
            </div>

        </div>

        <div id="additionalContent3" class="hidden">

            <div class="form-group">
                <label for="Job2">Job Details 4:</label>
                <input type="text" id="Job3" name="Job3" ><br>
            </div>

            <div class="form-group">
                <label for="Price3"> Unit Price :</label>
                <input type="Number" id="Price3" name="Price3"><br>
            </div>
        </div>
        <br><br>
        <button type="submit">Add Customer</button>
        <button type="reset"> Reset</button>
    </form>




    <script>
        function homepage() {
            // Redirect to the specified URL
            window.location.href = "/";
        }
        document.getElementById('toggleContentLink2').addEventListener('click', function (event) {
            event.preventDefault();
            const additionalContent = document.getElementById('additionalContent2');
            additionalContent.classList.toggle('hidden');

            if (additionalContent.classList.contains('hidden')) {
                this.textContent = 'Add Another Job';
            } else {
                this.textContent = 'Remove Third Job';
            }
        });

        document.getElementById('toggleContentLink').addEventListener('click', function (event) {
            event.preventDefault();
            const additionalContent = document.getElementById('additionalContent');
            additionalContent.classList.toggle('hidden');

            if (additionalContent.classList.contains('hidden')) {
                this.textContent = 'Add Another Job';
            } else {
                this.textContent = 'Remove Second Job';
            }
        });

        document.getElementById('toggleContentLink3').addEventListener('click', function (event) {
            event.preventDefault();
            const additionalContent = document.getElementById('additionalContent3');
            additionalContent.classList.toggle('hidden');

            if (additionalContent.classList.contains('hidden')) {
                this.textContent = 'Add Another Job';
            } else {
                this.textContent = 'Remove Fourth Job';
            }
        });

        function onlyOne(checkbox) {
            var checkboxes = ['card', 'cash', 'etransfer'];
            checkboxes.forEach((id) => {
                if (id !== checkbox.id) {
                    document.getElementById(id).checked = false;
                }
            });
        }

    </script>
</body>

</html>