<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>{% if customer.id %}Update{% else %}Add New{% endif %} Customer</h1>
    <form action="{{ url_for('update_customer', id=customer.id) }}" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ customer.name or '' }}" required><br>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{ customer.email or '' }}" ><br>
        <label for="phone">Phone</label>
        <input type="text" name="phone" value="{{ customer.phone or '' }}" required><br>

        <label for="CarMake"> Car Make :</label>
        <input type="text" name="CarMake" value="{{ customer.CarMake or '' }}" required><br>

        <label for="CarModel"> Car Model :</label>
        <input type="text" name="CarModel" value="{{ customer.CarModel or '' }}" required><br>

        <label for="Caryear"> Car Year :</label>
        <input type="text" name="Caryear" value="{{ customer.Caryear or '' }}" required><br>

        <label for="CarColor"> Car Color :</label>
        <input type="text" name="CarColor" value="{{ customer.CarColor or '' }}" required><br>


        <label for="Vin">VIN #</label>
        <input type="text" name="Vin" value="{{ customer.Vin or '' }}" required><br>


        <label for="Odometer">Odometer / Mileage :</label>
        <input type="text" name="Odometer" value="{{ customer.Odometer or '' }}" ><br>

        <label for="Technician"> Mention all Technicians working  :</label>
        <input type="text" name="Technician" value="{{ customer.Technician or '' }}" ><br>





        <label for="Job">Job Details  1:</label>
        <input type="text" name="Job" value="{{ customer.Job or '' }}" required><br>

        <label for="Price"> Unit Price ( With out GST / HST ): </label>
        <input type="Number" name="Price"  value="{{ customer.Price or '' }}" required><br>
        

        <label for="Job">Job Details  2:</label>
        <input type="text" name="Job1" value="{{ customer.Job1 or '' }}" ><br>

        <label for="Price1"> Unit Price ( With out GST / HST ): </label>
        <input type="Number" name="Price1"  value="{{ customer.Price1 }}" ><br>


        <label for="Job2">Job Details 3:</label>
        <input type="text" name="Job2" value="{{ customer.Job2 or '' }}" ><br>

        <label for="Price2"> Unit Price ( With out GST / HST ): </label>
        <input type="Number" name="Price2"  value="{{ customer.Price2}}" ><br>


        <label for="Job3">Job Details 4:</label>
        <input type="text" name="Job3" value="{{ customer.Job3 or '' }}" ><br>

        <label for="Price3"> Unit Price ( With out GST / HST ): </label>
        <input type="Number" name="Price3"  value="{{ customer.Price3}}" ><br>

        <button type="submit">{% if customer.id %}Update{% else %}Add{% endif %}</button>
    </form>
</body>
</html>
