<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <a href="/">Home</a>
</head>
<body>
    <h1>All Customers</h1>
    <ul>
        {% for customer in customers %}
        <li>
            {{ customer.name }}   ||    {{ customer.email }}   ||   {{ customer.phone }}    ||    {{ customer.CarMake }} {{customer.CarModel}}   ||   {{ customer.created_at }}
            
            <button onclick="editLink()"> Edit </button>

            <script>
                function editLink() {
                    // Redirect to the specified URL
                    window.location.href = "{{ url_for('update_customer', id=customer.id) }}" ;
                }
            </script>


            <form action="{{ url_for('delete_customer', id=customer.id) }}" method="post" style="display:inline;">
                <button type="submit">Delete</button>
            </form>

            <button onclick="redirectToLink()"> Generate Invoice </button>

            <script>
                function redirectToLink() {
                    // Redirect to the specified URL
                    window.location.href = "{{ url_for('invoice', id=customer.id) }}" ;
                }
            </script>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_customer') }}">Add New Customer</a>
</body>
</html>
